<ul>
<li>
  <span class="slds-assistive-text">Task</span>
  <div class="slds-media">
    <div class="slds-media__body">
      <div class="slds-media slds-media--timeline slds-timeline__media--task">
        <div class="slds-media__figure slds-timeline__icon">
          <div class="slds-icon_container">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-task">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#task"></use>
            </svg>
          </div>
        </div>
        <div class="slds-media__body">
          <div class="slds-media">
            <div class="slds-media__figure">
              <label class="slds-checkbox" for="mark-complete">
                <input name="checkbox" type="checkbox" id="mark-complete" />
                <span class="slds-checkbox--faux"></span>
                <span class="slds-form-element__label slds-assistive-text">mark-complete</span>
              </label>
            </div>
            <div class="slds-media__body">
              <h3 class="slds-truncate" title="Review proposals for EBC deck with larger team and have marketing review this"><a href="javascript:void(0);">Review proposals for EBC deck with larger team and have marketing review this</a></h3>
              <ul class="slds-list--horizontal slds-wrap">
                <li class="slds-m-right--large">
                  <span class="slds-text-title">Contact:</span>
                  <span class="slds-text-body--small"><a href="javascript:void(0);">Lei Chan</a></span>
                </li>
                <li class="slds-m-right--large">
                  <span class="slds-text-title">Assigned to:</span>
                  <span class="slds-text-body--small"><a href="javascript:void(0);">Betty Mason</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-media__figure slds-media__figure--reverse">
      <div class="slds-timeline__actions">
        <p class="slds-timeline__date">Feb 24</p>
        <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Options</span>
        </button>
      </div>
    </div>
  </div>
</li>
<li>
  <span class="slds-assistive-text">Event</span>
  <div class="slds-media">
    <div class="slds-media__body">
      <div class="slds-media slds-media--timeline slds-timeline__media--event">
        <div class="slds-media__figure slds-timeline__icon">
          <div class="slds-icon_container">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-event">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#event"></use>
            </svg>
          </div>
        </div>
        <div class="slds-media__body">
          <h3 class="slds-truncate" title="Company One — EBC Meeting"><a href="javascript:void(0);">Company One — EBC Meeting</a></h3>
          <p class="slds-truncate">Let’s get together to review the theater’s layout and facilities. We’ll also discuss potential things that truncate at a certain width.</p>
          <ul class="slds-list--horizontal slds-wrap">
            <li class="slds-m-right--large">
              <span class="slds-text-title">Time:</span>
              <span class="slds-text-body--small"><a href="javascript:void(0);">Feb 23, 2015 11:00am–12:00pm</a></span>
            </li>
            <li class="slds-m-right--large">
              <span class="slds-text-title">Location:</span>
              <span class="slds-text-body--small"><a href="javascript:void(0);">300 Pike St, San Francisco CA</a></span>
            </li>
            <li class="slds-m-right--large">
              <span class="slds-text-title">Name:</span>
              <span class="slds-text-body--small"><a href="javascript:void(0);">Lei Chan</a>, <a href="javascript:void(0);">Jason Dewar</a>, <a href="javascript:void(0);">Gwen Jones</a> and <a href="javascript:void(0);">Pete Schaffer</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="slds-media__figure slds-media__figure--reverse">
      <div class="slds-timeline__actions">
        <p class="slds-timeline__date">Feb 24</p>
        <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Options</span>
        </button>
      </div>
    </div>
  </div>
</li>
</ul>



<div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-open">
  <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true">
    <svg aria-hidden="true" class="slds-button__icon">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
    </svg>
    <span class="slds-assistive-text">Show More</span>
  </button>
  <div class="slds-dropdown slds-dropdown--left">
    <ul class="slds-dropdown__list" role="menu">
      <li class="slds-dropdown__item" role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="0">
          <span class="slds-truncate">Menu Item One</span>
        </a>
      </li>
      <li class="slds-dropdown__item" role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
          <span class="slds-truncate">Menu Item Two</span>
        </a>
      </li>
      <li class="slds-dropdown__item" role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
          <span class="slds-truncate">Menu Item Three</span>
        </a>
      </li>
      <li class="slds-has-divider--top-space" role="separator"></li>
      <li class="slds-dropdown__item" role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
          <span class="slds-truncate">Menu Item Four</span>
        </a>
      </li>
    </ul>
  </div>
</div>